<p-card
    [style]="{'border':'solid 1px gray'} "
>
    <ng-template pTemplate="header">
        <p class="ml-2 mt-2" style="font-weight: bold">
            {{ name() }}
        </p>
    </ng-template>
    <div class="flex justify-content-center align-content-center">
        <img [ngSrc]="image()" width="200" height="200">
    </div>
    <p>
        {{ description() }}
    </p>
    <ng-template pTemplate="footer">
        <p>
            {{ price() }}
        </p>
    </ng-template>
</p-card>
