<p-card
    class="latorre-card"
    (click)="emitDetails()"
>
    <ng-template pTemplate="header">
        <p class="pt-2 pl-3 headline">
            {{ name() }}
        </p>
    </ng-template>
    <div class="flex justify-content-center align-content-center">
        <img [ngSrc]="image()" width="200" height="200">
    </div>
<!--    <p>-->
<!--        {{ description() }}-->
<!--    </p>-->
    <ng-template pTemplate="footer">
        <div class="flex flex-wrap justify-content-between align-content-between">
            <p-button class="latorre-button">Learn more!</p-button>
<!--            <p>-->
<!--                {{ price() }}-->
<!--            </p>-->
        </div>

    </ng-template>
</p-card>
