<div class="flex flex-wrap justify-content-center center-border mb-5">
    <div class="flex-column align-items-center" style="text-align: center;">
        <p style="color:var(--latorre-primary); font-weight: bold; font-size: 1.75rem">
            {{ "Herzlich Willkommen bei LA TORRE".toUpperCase() }}
        </p>
        <p style="font-weight: bold; font-size: 1.225rem">
            {{ "Ihrem Supermarkt für spanische und portugiesische Spezialitäten." }}
        </p>
    </div>
    <section class="flex felx-wrap justify-content-between align-content-start px-7">
        <div class="w-5" style="text-align:start">
            <p>
                Unsere Webseite zeigt Ihnen einen ersten Einblick in unsere große und umfangreiche Produktpalette.
            </p>
            <p>
                Holen Sie sich Appetit und Lust für einen Besuch unserer Räumlichkeiten im Hamburger Schanzenviertel und
                lassen sich dann vor Ort vom LA TORRE Team über die Vielfalt unserer iberischen Lebensmittel und Weine
                informieren und beraten.
            </p>
            <p style="font-weight:bold">
                Wir freuen uns auf Sie!
            </p>
        </div>
        <div>
            <img src="assets/img/SpainPortugal.jpg" class="pt-4">
        </div>
    </section>
    <section class="flex justify-content-between align-items-start px-7 pt-6 pb-2">
        <div class="w-3 pt-3">
            <img src="assets/img/information.svg" width="40%">
        </div>
        <div class="w-8">
            <p>
                Aktuelle Informationen und Angebote finden Sie auch regelmäßig auf unserer Facebook Seite.

                Durch unser großes Netzwerk sind wir Ihnen auch gerne bei der kulinarischen Ausrichtung Ihrer privaten oder gewerblichen Veranstaltung behilflich.
                Sprechen Sie uns ruhig an!
            </p>
        </div>
    </section>
</div>
