<div class="h-full w-full flex justify-content-center align-items-center">
    <div class="bg-container h-full w-full flex flex-column justify-content-center align-items-center">
        <div class="flex flex-column justify-content-between align-items-center">
            <div class="pb-1">
                <img src="assets/img/latorre-logo.jpg">
            </div>
            <div>
                <p-button class="cool-button" (onClick)="navigateToShop()">Weiter</p-button>
            </div>
        </div>
    </div>
</div>
