@import "primeicons/primeicons.css";

:root {
    --latorre-primary: rgb(154, 20, 27);
    --latorre-primary-shadow: rgba(154, 20, 27, 0.71);
    --latorre-primary-text-100: #9c9d9f;
}

html, body {
    font-size: 1.125rem;
    height:100%;
    margin:0;
}

.center-border {
    border: 1px solid gray;
    border-radius: 0.25rem;
    box-shadow:0.225rem 0.225rem var(--latorre-primary);
}
